body, html {
	font-family: Helvetica;
	font-size: 18px;
	color: black;
}

.bgimage {
	background-image: url(BackgroundPics/LaurelHill.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;

	filter: blur(8px);
	-webkit-filter: blur(8px);

	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	opacity: 0.7;
	z-index: -1;
}


/* SCROLLING ALERTS BAR */
.alertsBar {
	background-color: #b3b3b3;
	position: fixed;
	bottom: 0px;
	left: 0;

	width: 100%;

	font-size: 14px;
	color: black;
	box-shadow: 0px -1px 5px 1px black;
	border-collapse: collapse; 
}

.alertsHeader {
	width: 10%;
	min-width: 55px;

	text-align: center;
	background-color: #336600;
}

.alertsScrolling {
	width: 95%;
}


/* LANDING PAGE */
/* Search Bar */
.searchButton {
	height: 35px;
	width: 35px;

	font-size: 24px;
	font-family: Helvetica;

	text-align: center;
	border-width: 2px;
	border-radius: 5px;
	border-color: black;
	border-style: outset;
}

/* BIG LOGO & TITLE & SEARCH BAR ON LANDING PAGE */
.landingContent {
	height: auto;

	margin-top: 100px;
	margin-bottom: 100px;
}

/* NON-LANDING PAGES */
/* NAVIGATION BAR */
.typNavBar {
	background-color: #b3b3b3;
	display: block;
	margin-bottom: 20px;

	box-shadow: 0px 1px 5px 1px black;

	height: 50px;
	width: 100%;

	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
}

.menuLogo {
	width: 30px; 
	height: 38px; 
	margin: 5px;

	display: inline; 
}

.menuTitle {
	font-size: 30px; 
	display: inline;

	padding: 5px;

	height: 100%;
	position: relative;
	top: -12px;
}

.navList {
	list-style-type: none;
	overflow: hidden;
	margin: 0px;
	padding: 0px;

	position: absolute;
	top: 0px;
	right: 0px;
}

.navItem {
	display: inline-block;
	padding: 0px;
	margin: 0px;
}

.navLink {
	display: inline-block;
	height: 50px;

	line-height: 50px;
	text-align: center;
	text-decoration: none;
	color: black;

	padding: 0px 15px;
	margin: 0px;
}

.navLink:hover:not(active) {
	background-color: #333;
	color: white;
}

.active {
	background-color: black;
	color: white;
}


/* MAIN PAGE CONTENT */
.pageContent {
	margin: 70px 15px;

	background-color: #b3b3b3;
	border-radius: 20px;
	box-shadow: 1px 1px 5px 1px black;

	padding: 20px;

	height: auto;
}


/* BOXES FOR EACH RESULT */

.resHolder {
	width: auto;
	height: auto;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
}

.resBox {
	width: 30%;
	height: auto;

	word-break: break-word;
	hyphens: auto;
	-webkit-hyphens: auto;
 	-ms-hyphens: auto;
	/* display: inline-grid; */
	text-align: center;
	background-color: white;
	margin: 10px;

	border-radius: 20px;
	border-color: black;
	border-width: 1px;
	border-style: solid;
}

/* Get shadow on hover */
.resBox:hover {
	box-shadow: 1px 1px 5px 1px black;
}

.resBox > h3 {
	/* word-break: break-word; */

	color: white;
	font-size: 24px;
	background-color: black;
	margin: 0px;
	padding: 10px;
	border-radius: 20px 20px 0px 0px;
}

.resBox > p {
	width: contain;

	margin: 0px;
	padding: 10px;
	border-radius: 0px 0px 20px 20px;
}

.resBoxImg {
	width: 200px;
	height: auto;

	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.resLink {
	color: white;
	text-decoration: underline;
}


/* Differentiating within section types, e.g. b/w parks, visitor centers, and campgrounds. */
.resNavBar {
	background-color: black;
	margin-top: 20px;
	margin-bottom: 20px;

	position: relative;

	height: 50px;
	width: 100%;
}

.resNavList {
	width: 100%;

	color: white;
	list-style-type: none;
	overflow: visible;
	margin: 0px;
	padding: 0px;
}

.resNavItem {
	display: inline-block;
	cursor: pointer;
	overflow-y: hidden;
	line-height: 50px;

	float: left;
	z-index: 3;

	margin: 0px;
}

.resNavText {
	padding-left: 15px;
}

.resNavItem:hover {
	background-color: #333;
}

.resNavItem:hover > .resDD {
	display: block;
}

/* Drop-down for locat/news/education content types!! */
.resDD {
	width: inherit;

	background-color: #333;
	display: none;
	line-height: initial;

	position: absolute;
	z-index: 3;
}

.resDD div {
	color: white;
	background-color: #333;
	border-top: 1px solid white;
	display: block;

	padding: 15px;
}

.resDD div:hover {
	color: white;
	background-color: black;
	display: block;
}


/* PARK LIGHTBOX TEMPLATE */
/* Gray out background */
.locLBBG {
	/*display: none; */
	background-color: rgba(0,0,0,0.5);
	color: black;

	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 20;

	width: 100%;
	height: 100%;
}

/* Actual lightbox content */
.locLB {
	background-color: white;
	overflow: auto;

	margin: auto;
	padding: 20px;

	width: 90%;
	height: 90%;
}

.locLBHeader {
	width: 100%;
}

.locLBBody {
	width: 100%;
}

/* Close button in top right corner */
.lbClose {
	color: #333;
	font-size: 28px;
	font-weight: bold;

	float: right;
}

.lbClose:hover, .lbClose:focus {
	color: black;
	cursor: pointer;
}


/* Columns in lightbox */
.lbCol {
	float: left;

	padding: 10px;
	box-sizing: border-box;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Section headers in lightbox */
.lbSectionHeader {
	display: block;
	color: white;
	background-color: black;

	width: 100%;

	padding: 10px;
	box-sizing: border-box;
}

